body {
  width: 960px;
  margin: auto;
  background-color: gainsboro;
}

nav {
  height: 100px;
  border-bottom: 1px solid black;
}

nav > img {
  height: 100px;
  width: 150px;
  float: left;
}

nav > a {
  font-family: fantasy;
  padding-top: 20px;
  padding-left: 15px;
  float:left;
}

body > ul > li > img {
  padding-top: 25px;
  height: 150px;
  width: 100px;
  float: left;
  padding-left: 20px;
}

body > ul > li > p {
  float: left;
}

body > div {
  float:left;
  width: 400px;
  height: 1px;  
  padding-bottom: 330px;
}

body > article > ul > li {
  padding-top: 10px;
}

body > article {
  float: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

body > article > p {
  font-family: fantasy;
  padding-bottom: 15px;
  padding-top: 10px;
}