nav {
  height: 100px;
  border-bottom: 1px solid black;
}

nav > img {
  height: 100px;
  width: 150px;
  float: left;
}

nav > a {
  font-family: fantasy;
  padding-top: 20px;
  padding-left: 15px;
  float:left;
}

body {
  width: 960px;
  margin: 0;
  background-color: gainsboro;
}

body > article {
  width: 150px;
  height: 375px;
  display: float;
  float: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

body > article > p {
  font-family: fantasy;
  padding-bottom: 15px;
  padding-top: 10px;
}

body > article > ul > li {
  padding-top: 10px;
}

body > ul > li > img {
  padding-top: 25px;
  height: 150px;
  width: 100px;
  float: left;
  padding-left: 20px;
}

body > div:first-of-type {
  float: left;
  width: 300px;
  height: 200px;
}

body > ul > li > p {
  display: inline;
  float: left;
}

body > div:nth-last-of-type(1) {
  padding-top: 300px;
}